pkgbase = kesl-gui
	pkgdesc = Kaspersky Endpoint Security 12.1.0 for Linux (GUI)
	pkgver = 12.1.0.1274
	pkgrel = 1
	url = https://support.kaspersky.com/help/KES4Linux/12.1.0/en-US/264264.htm
	install = kesl-gui.install
	changelog = kesl-gui.changelog
	arch = x86_64
	license = custom
	depends = perl
	depends = kesl
	depends = freetype2
	noextract = kesl-gui_12.1.0-1274_amd64.deb
	options = !strip
	source = https://products.s.kaspersky-labs.com/endpoints/keslinux10/12.1.0.1274/multilanguage-12.1.0.1274/3834323835337c44454c7c31/kesl-gui_12.1.0-1274_amd64.deb
	source = kesl-gui.install
	validpgpkeys = 6AFE173577C4CBD621DF217FD093435AA3ED2C4A
	sha256sums = 39fddc01e6afbde5279d9662be2c290eb9ea6642c8e3fcd4e5a740351673e3df
	sha256sums = 6eb8fdafdd0811ed25d7b36541f8214e1c3b4f9989d8e1df448311535827121a

pkgname = kesl-gui
